WAFFO_MERCHANT_ID=
WAFFO_PRIVATE_KEY_BASE64=
WAFFO_PRODUCT_ID=
WAFFO_STORE_ID=
WAFFO_CHECKOUT_HOSTS=checkout.waffo.com,.waffo.com,.waffo.app
KV_REST_API_URL=
KV_REST_API_TOKEN=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
